/* Base styles */
html {
  background: #e7e9eb;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5em;
  font-family: "Droid Serif", Georgia, "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
}

/* Typography */
h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 1em 0 0.5em 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 900;
  color: #444;
  background-color: #eee;
}

h1:first-of-type {
  margin-top: 0;
}

p {
  margin: 0 0 0.8em 0;
}

/* Links */
a {
  color: #09c;
  font-size: 1em;
  text-decoration: none;
  font-weight: 300;
}

a:link {
  color: #05a;
}

a:visited {
  color: #038;
}

a:hover {
  background-color: #eee;
}

/* Layout */
#outer-container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 10px #b9bcbf;
}

/* Header */
#Header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0 0 1em 0;
  padding: 1.3em 1em 1em 1em;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

#Header a {
  font-weight: 600;
}

#Header > a {
  font-size: 1em;
  color: #038;
}

#Header img {
  height: 30px;
  vertical-align: middle;
}

#Header a#learning {
  text-decoration: underline;
  float: none;
  display: inline;
}

/* Sidebar menu */
#Menu {
  float: left;
  margin: 0 2em 1em 1em;
  padding: 1em 1em 0.25em 1em;
  background-color: #e5e5e5;
  line-height: 1.4em;
  width: 12.2em;
}

#Menu ul {
  list-style: none;
  margin: 0 0 0.8em 0;
  padding: 0;
}

#Menu li {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}

#Menu .section {
  border-top: 1px solid #aaa;
  margin: 0;
  padding-top: 0.75em;
  font-size: 1.1em;
  font-weight: bold;
  font-family: sans-serif;
}

#Menu .menu-icon {
  vertical-align: middle;
  margin: 0.3em 0.3em 0.3em 0;
  padding: 0;
}

.profile-photo {
  border: 1px solid;
  width: 160px;
}

.gpg-key {
  font-family: monospace;
  font-size: 80%;
}

.book-cover {
  width: 150px;
  border: 1px solid;
}

.badge {
  border: 0;
}

/* Main content */
#Content {
  float: left;
  width: 700px;
  margin: 1em auto auto 0;
  padding: 0.3em;
}

#Content > p {
  margin: 0 0 0;
}

#Content > p + p {
  margin-top: 0.5rem;
}

/* Utility classes */
.centered {
  text-align: center;
  display: block;
}

.float-left {
  float: left;
  vertical-align: middle;
}

.inline-icon {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Note/callout box */
.Note {
  border: 1px solid;
  background-color: #fbffc3;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
  clear: both;
  float: right;
  width: 20em;
  margin-left: 0.5em;
}

/* Blog feed */
#feed_list {
  list-style-type: lower-greek;
}

.feed_entry {
  margin-bottom: 0.5em;
}

.feed_tag {
  font-weight: bold;
  font-size: small;
}

.feed_tags a.feed_tag {
  color: #333;
}

.feed_content {
  font-style: italic;
}

/* Images */
img {
  padding: 0.3em;
  margin: 0.5em;
}

