body {
    font-size: 110%;
}

.post-title {
    font-size: 2rem;
}

.catalogue-title {
    font-size: 1.5rem;
}

.catalogue-line {
    display: none;
}

.catalogue-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}

.catalogue-tags {
    font-size: 80%;
}

.post-info {
    text-align: left;
}

.post-title {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0.1rem;
}

.post-date {
  display: inline-block;
  padding-right: 0.5rem;
}

.post-author {
  display: inline;
}

.post-tags {
    margin-bottom: 2rem;
    display: block;
}

.post-tag {
    font-family: monospace;
    display: inline;
}

.highlight {
    padding: 0;
}

.highlight pre {
    padding: 1rem;
}

.post {
    padding-top: 1rem;
}

.highlight {
    font-size: 1rem;
}

/* For MathJAX */

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    margin: 0;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.pagination .active a {
  color: black;
}

.pagination .disabled {
  display: none;
}

.read-more {
  display: none;
}
